@{
  Layout = "_Layout";
}

<h1>Add a place</h1>
<form action="/places/create" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">

  <label for="picture">Picture</label>
  <input type="text" name="picture">

  <label for="stayLength">stayLength</label>
  <input type="text" name="stayLength">

  <label for="timeTravel">Time of year you traveled</label>
  <input type="text" name="timeTravel">
  
  <button type="submit">Submit</button>
</form>